.card-columns {
    orphans: unset !important;
    widows: unset !important;
    column-gap: 2em;
}

.card {
    transition: all .3s;
    margin: 20px 0;
}

.card:hover {
    background-color: #181818;
    transform: scale(1.08,1.08);
    border: 2px solid #1ed760;
    .card-body {
        .card-title {
            color: #1ed760;
        }
        .card-text {
            color: #f0f0f0;
        }
    }
}

@media (max-width:575px) {
    .card {
        width: 70%;
        margin: 2em auto;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .card-columns {
        column-count: 2;
    }
}