.load {
    font-size: 5em;
    color: #1ed170;
    animation: spin 1.5s infinite ease-out;
}

.load-text {
    letter-spacing: 1.5px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}