<h1 class="text-center">¡Bienvenido a SpotiApp!</h1>
<p class="text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque non blanditiis consequatur deserunt, nihil neque odit sapiente dolorum facere. Blanditiis delectus suscipit provident voluptates quaerat repudiandae. Reprehenderit harum, adipisci, dolorem sed consequuntur officia praesentium officiis laudantium assumenda enim rem molestias, neque repellendus delectus! Qui.
</p>

<h2 class="novedades mb-3">Ultimos Lanzamientos</h2>

<app-cards [spotyData]="spotyLanzamientos"></app-cards>