.toTop {
    position: fixed;
    bottom: 2%;
    right: 2%;
    color: #1ed760;
    font-size: 30px;
    padding: 4px;
    border: 1px solid #1ed760;
    border-radius: 50%;
    background-color: #131313;
}